<div class="container">
    <footer class="container-fluid d-flex justify-content-center py-4 py-lg-5">
        <p class="text-primary-400 text-align-center my-0">©Vivre 2024 All right Reserved</p>
    </footer>
</div>